@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@600&family=Kalam:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Anybody, cursive;
    font-weight: 300;
    color: black;
}

.tiled-background {
    background-image: url('../images/background.jpg');
    background-size: 350px;
}

/* headings and logo */

h1, h2 {
    font-family: Anybody, cursive;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#logo {
    text-align: center;
    font-size: 300%;
    margin-top: 30px;
}

header a {
    text-decoration: none;
}

/* navigation links */

#menu {
    text-align: center;
    font-size: 130%;
    letter-spacing: 3px;
}

#menu li {
    list-style-type: none;
    margin-top: 30px;
    display: inline-block;
    padding: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid black;
}

.active {
    border-bottom: 1px solid black;
}

/* hero image and cover text */

#hero-image {
    height: 650px;
    width: 100%;
    background: url('../images/family-picnic.avif') no-repeat center;
    background-size: cover;
    background-position: bottom;

    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 10s;
    animation-fill-mode: backwards;
}

#hero-outer {
    height: 650px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

/* edit this cover-text */

#cover-text, cover-text h2 {
    color: #ffffff;
}

#cover-text {
    background-color: rgb(244, 157, 157, 0.8);
    position: absolute;
    top: 50%;
    left: 75%;
    width: 20vw;
    height: 200px;

    font-size: 130%;
    text-align: center;
    text-transform: uppercase;
    padding-top: 100px;
    padding-left: 10px;
}

/* creates a level of zoom for the hero image */

@keyframes hero-zoom {
    from{
        transform: scale(1.2);
    }
    to{
        transform: scale(1);
    }
}

/* group-ideals */

hr {
    border-top: 3px solid fuchsia;
    width: 100%;
    margin: 10px 0;
}

#group-ideals {
    height: 600px;
}

#left-ideals {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-ideals {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-ideals {
    width: 33%;
    margin: 0 auto;
}

.left-ideals-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-ideals-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.center-ideals-heading {
    width: 60%;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

#welcome {
    text-align: center;
    margin: 50px 0;
}

.right-ideals-heading h2 {
    text-align: center;
}

.right-ideals-heading p {
    text-align: center;
}

.center-ideals-heading h2 {
    text-align: center;
}

.center-ideals-heading p {
    text-align: center;
}

