@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@600&family=Kalam:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    
}
body {
    font-family: Anybody, cursive;
    font-weight: 300;
    color: #ff0000;
}

/* headings and logo */

h1, h2 {
    font-family: Anybody, cursive;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #ff0000;
}

#logo {
    text-align: center;
    float: center;
    font-size: 200%;
}

#menu {
    font-size: 110;
    letter-spacing: 10px;
}

#menu, #logo {
    line-height: 75px;
}

/* below - move the menu list to center */

#menu li {
    float: right;
    list-style-type: none;
    margin-top: 40px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #ff0000;
}

.active {
    border-bottom: 1px solid #ff0000;
}

/* hero image - need to update hero outer */

#cover-text, #cover-text h2 {
    color: #fff;
}
#hero-image {
    height: 900px;
    width: 100%;
    background: url('../images/familypicnic.avif') no-repeat center center;
}

#cover-text {
    font-size: 130%;
    font-family: Anybody, cursive;
    text-transform: uppercase;
    letter-spacing: 4px;
    
    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgb(255, 0, 0);

    bottom: 30px;
    right: 150px;

    position: absolute;
}
