@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@600&family=Kalam:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Anybody, cursive;
    font-weight: 300;
    color: #ff0000;
}

/* headings and logo */

h1, h2 {
    font-family: Anybody, cursive;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #ff0000;
}

#logo {
    float: center;
    font-size: 200%;
}

#menu {
    font-size: 90;
    letter-spacing: 10px;
}

#menu, #logo {
    line-height: 50px;
}

/* below - move the menu list to center */

#menu li {
    list-style-type: none;
    margin-top: 50px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #ff0000;
}

.active {
    border-bottom: 1px solid #ff0000;
}

/* hero image - need to update hero outer */

#hero-image {
    height: 900px;
    width: 100%;
    background: url('../images/family-picnic.avif') no-repeat center center;
}
